*{
    font-family: "Karla", sans-serif;
}

body{
    
    background-image: url(../img/pexels-eberhardgross-2088170\ \(1\).jpg);
    overflow: hidden;
}

.container__community{

    display: flex;
    margin-top: 20vh;    
}

.community__section{
    height: 200px;
    width: 40%;
    margin: auto;
    background: white;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 1px  ;

}

.community__section h1{
    color: #4372b0;
    letter-spacing: -2px;
    font-weight: 600;
    margin-left: 50px;
    padding-top: 11px;
}

.subtitle{
    color: #f74379;
    letter-spacing: -1px;
    font-weight: 600;
    margin-left: 50px;
    font-size: 1.1em;

}
.text{
    color: rgba(128, 128, 128, 0.658);
    margin-left: 50px;
    max-width: 58ch;
    letter-spacing: -0.5px;

}

.beside__section{
    border-radius: 30px;
    display: flex;
    width: 39.9%;
    height: 300px;
    margin: auto;



}

.price{
    background-color: #8b7bb7;
    flex: 1;
    
}

.price h2{
    background-color: #8b7bb7;
    color: white;
    font-weight: 600;
    padding-top: 18%;
    margin-left: 10%;
}

.aboutus{
    background-color: #a38fd8;
    flex: 1;
}



